###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# behavior for image files
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.svg   text
